@media only screen and (max-width: 480px) {

.home-carousel-caption h2{
    font-size: 25px;
}
.home-carousel-caption p{
  font-size: 15px;
}
.home-text{
  top: 80px !important;
}
.addressText{
  font-size:15px;
}
.lts-talk{
  font-size: 20px;
}
ul.hr li.hr-line{
  margin: 0;
}
ul.hr li.hr-icon{
    margin-top: -4px;
}
.section-title{
      font-size: 3rem !important;
}
.logo-wrapper{
  left: 20px;
}
.logo{
  margin-top: 10px;
}
.bannerFont, .bannerFont2{
  font-size: 1.5rem;
}
.sliderMobile{
  width: 17rem !important;
  margin: 0 auto;
}
}

 /* Tab */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .addressText{
    font-size:18px;
  }
  .lts-talk{
    font-size: 20px;
  }

	}

 /* Desktop */
  @media only screen and (min-width: 961px) {

    #clients-logo img, #products-slider img{
      width: auto !important;
      text-align: center;
      margin: 0 auto;
    }

 }
