@media only screen and (max-width: 480px) {

.home-carousel-caption h2{
    font-size: 25px;
}
.home-carousel-caption p{
  font-size: 15px;
}
.home-text{
  top: 80px !important;
}
.addressText{
  font-size:15px;
}
.lts-talk{
  font-size: 20px;
}

}

 /* Tab */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .addressText{
    font-size:18px;
  }
  .lts-talk{
    font-size: 20px;
  }

	}

 /* Desktop */
  @media only screen and (min-width: 961px) {



 }
